       <nav class="navbar navbar-expand-lg navBar">
            <div class="containerImg">
                <a href="/" class="navbar-brand d-flex align-items-center">
                    <img class="logo" src="/img/7.png" alt="Img logo Break">
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse elementosNav" id="navbarNavDropdown">
                <ul class="navbar-nav ms-auto elementos">
                   
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" th:if="${session.clientsession != null}" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Profile
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" th:href="@{/profile}" >Edit Profile</a></li>
                            <li><hr class="dropdown-divider"></li>

                            <li><a class="dropdown-item" href="/logout" >Log out</a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link " th:if="${session.clientsession == null}" href="/register" id="navbarDropdown" role="button" aria-expanded="false">
                            SING UP!
                        </a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link " th:if="${session.clientsession == null}" href="/" id="navbarDropdown" role="button" aria-expanded="false">
                            LOGIN!
                        </a>

                    </li>
                </ul>
            </div>
        </nav>
